<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YouNotesMe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input placeholder="Title" [(ngModel)]="iniTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Value" [(ngModel)]="iniValues"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="iniDate"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" [(ngModel)]="iniContent">Content</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

    <ion-button size="small" color="tertiary">Upload</ion-button>
    <ion-button size="small" color="tertiary" (click)="simpanNote()">Save</ion-button>

    <p>
      Judul Note :
      {{note.nama}}<br/>
      <br/>
      Isi Note :
      {{note.isi}}<br/><br/>
      Tanggal Note :
      {{note.tanggal}}<br/><br/>
    </p>
</ion-content>
